<div id="<%= dom_id calendar %>">
  <p>
    <strong>Name:</strong>
    <%= calendar.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= calendar.description %>
  </p>

  <p>
    <strong>Calendar group:</strong>
    <%= calendar.calendar_group_id %>
  </p>

</div>
