<p style="color: green"><%= notice %></p>

<h1>Calendar groups</h1>

<div id="calendar_groups">
  <% @calendar_groups.each do |calendar_group| %>
    <%= render calendar_group %>
    <p>
      <%= link_to "Show this calendar group", calendar_group %>
    </p>
  <% end %>
</div>

<%= link_to "New calendar group", new_calendar_group_path %>
