<p style="color: green"><%= notice %></p>

<%= render @calendar_group %>

<div>
  <%= link_to "Edit this calendar group", edit_calendar_group_path(@calendar_group) %> |
  <%= link_to "Back to calendar groups", calendar_groups_path %>

  <%= button_to "Destroy this calendar group", @calendar_group, method: :delete %>
</div>
