@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .simple-calendar {
        @apply container mx-auto mt-10;
        table {
            @apply bg-white border max-w-full w-full box-border border-collapse;
        }
        tr {
            @apply border-collapse;
        }
        th {
            @apply p-2 border-b-2 border-collapse border-x border-gray-300 border-t-0 box-border text-center;
        }
        td {
            @apply align-top w-1/7 border border-gray-300 text-center;
        }
        .day {
            @apply h-20;
        }
        .calendar-heading {
            @apply grid grid-cols-2 gap-4;
        }
        time {
            @apply left-0 text-left text-xl;
        }
        nav {
            @apply right-0 text-right text-xl; 
        }
        
        .wday-0 {
            @apply bg-gray-100;
        }
        .wday-1 {
            @apply bg-gray-50;
        }
        .wday-2 {
            @apply bg-gray-50;
        }
        .wday-3 {
            @apply bg-gray-50;
        }
        .wday-4 {
            @apply bg-gray-50;
        }
        .wday-5 {
            @apply bg-gray-50;
        }
        .wday-6 {
            @apply bg-gray-100;
        }
    
        .today {
          @apply bg-gray-200;
        }
    
        .past {
            
        }
        .future {}
    
        .start-date {}
    
        .prev-month {
        }
        .next-month {
        }
        .current-month {}
    
        .has-events {}
    }
    
}