<li id="<%= "sidebar_#{dom_id cal}" %>">
    <a href="<%= calendar_path(cal) %>" class="flex items-center p-2 pl-4 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
      <%= heroicon "calendar-days" %><span class="flex-1 ms-3 whitespace-nowrap"><%= cal.name %></span>
   </a>
</li>