<li id="calendar-groups-parent" data-accordion="collapse">
   <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="calendar-groups-dropdown" data-accordion-target="#calendar-groups-dropdown" aria-expanded="false">
         <%= heroicon "calendar", variant: :solid %>
         <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap"><%= t("view.calendar_groups") %></span>
         <%= heroicon "chevron-down", options: {"data-accordion-icon" => "true", class: "rotate-180 shrink-0", "aria-hidden" => "true"} %>
   </button>
   <ul id="calendar-groups-dropdown" class="hidden py-2 space-y-2">
      <% current_user.groups.each do |group| %>
         <%= render "sidebar/calendar_group", group: group %>
      <% end %>
   </ul>
</li>