<li id="<%= "sidebar_#{dom_id group}" %>" data-accordion="collapse">
   <button type="button" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-3 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
   aria-control="<%= "sidebar_#{dom_id group}_calendars" %>"
   data-accordion-target="<%= "#sidebar_#{dom_id group}_calendars" %>" aria-expanded="false">
      <%= heroicon "calendar" %>
         <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap"><%= group.name %></span>
         <%= heroicon "chevron-down",variant: :mini, options: {"data-accordion-icon" => "true", class: "rotate-180 shrink-0", "aria-hidden" => "true"} %>
   </button>
   <ul id="<%= "sidebar_#{dom_id group}_calendars" %>" class="hidden py-2 space-y-2">
      <% current_user.group_calendars(group).each do |cal| %>
        <%= render "sidebar/calendar", cal: cal %>
      <% end %>
   </ul>
</li>