<li>
   <a href="<%= path %>" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
      <%= icon %>
      <span class="flex-1 ms-3 whitespace-nowrap"><%= text %></span>
   </a>
</li>