<div id="<%= dom_id user_info %>">
  <p>
    <strong>Name:</strong>
    <%= user_info.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= user_info.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user_info.phone %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_info.user_id %>
  </p>

</div>
