<%= turbo_frame_tag "modal" do %>
  <div id="shift-modal" >
<%= render "form", shift: @shift %>

<br>
<div>
  <%= link_to "Cancel", "#", data: {
    controller: "modals",
    action: "modals#close"
  } class: "text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-700 font-medium rounded-lg text-sm px-5 py-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800" %>
</div>
<% end %>