<%= turbo_frame_tag "modal" do %>
  <div class="modal">
  <div id="shift-modal" tabindex="1" class="flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full" >
    <div class = "relative justify-center p-4 w-full max-w-md max-h-full" >
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="p-4 md:p-5">
          <%= render @shift %>
          <br>
          <div>
            <%= link_to "Cancel", "#", data: {
              controller: "modals",
              action: "modals#close"
            }, class: "text-white bg-secondary-500 hover:bg-secondary-600 focus:ring-4 focus:outline-none focus:ring-secondary-700 font-medium rounded-lg text-sm px-5 py-2 dark:bg-secondary-600 dark:hover:bg-secondary-700 dark:focus:ring-secondary-800" %>
          </div>
        </div>
      </div>
    </div>
  </div></div>
<% end %>