<!DOCTYPE html>
<html>
  <head>
    <title>Booking1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render "sidebar/index" %>
      <div class="p-4 sm:ml-64">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
