<div id="<%= dom_id shift %>">
  <p>
    <strong>Name:</strong>
    <%= shift.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= shift.description %>
  </p>

  <p>
    <strong>Calendar:</strong>
    <%= shift.calendar_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= shift.start_time %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= shift.duration %>
  </p>

  <p>
    <strong>Break:</strong>
    <%= shift.break %>
  </p>

</div>
