<p style="color: green"><%= notice %></p>
<h1 class="block text-black text-3xl text-center" ><%= @calendar.name %></h1>
<h2 class="block text-black text-xl text-center"><%= @calendar.description %></h2>
<%= month_calendar(events: @calendar.shifts) do |date, shifts| %>
  <%= date %>
  <% shifts.each do |sft| %>
    <div>
      <%= link_to sft.name, sft, data: { turbo_frame: "modal" } %>
    </div>
  <% end %>
<% end %>

<div>
  <%= link_to "Edit this calendar", edit_calendar_path(@calendar) %> |
</div>
