<div id="<%= dom_id calendar_group %>">
  <p>
    <strong>Name:</strong>
    <%= calendar_group.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= calendar_group.description %>
  </p>

</div>
