<%= form_with(model: calendar_group) do |form| %>
  <% if calendar_group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(calendar_group.errors.count, "error") %> prohibited this calendar_group from being saved:</h2>

      <ul>
        <% calendar_group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
