<h1>Editing calendar group</h1>

<%= render "form", calendar_group: @calendar_group %>

<br>

<div>
  <%= link_to "Show this calendar group", @calendar_group %> |
  <%= link_to "Back to calendar groups", calendar_groups_path %>
</div>
