<tr id="<%= dom_id calendar_group %>" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= calendar_group.name %>
  </th>
  <td class="px-6 py-4"><%= calendar_group.description %></td>
  <td class="px-2 py-4 w-2"><%= link_to heroicon("pencil-square"), edit_calendar_group_path(calendar_group), data: { turbo_frame: "modal-frame" } %></td>
  <% if calendar_group.calendars.empty? %>
    <td class="px-2 py-4 w-2"><%= link_to heroicon("trash"), calendar_group_path(calendar_group), data: {turbo_method: :delete} %></td>
  <% else %>
    <td class="px-2 py-4 w-2" colspan=1 >
  <% end %>
</tr>
