<%= form_with(model: calendar_group, url: calendar_group.persisted? ? calendar_group_path(calendar_group) : calendar_groups_path, method: calendar_group.persisted? ? :patch : :post ) do |form| %>
  <% if form.object.errors.any? %>
    <div id="error_explanation">
      <h3 class="text-sm font-medium text-red-800"><%= pluralize(form.object.errors.count, "error") %> prohibited this item from being saved:</h3>
      <div class="mt-2 text-sm text-red-700">
        <% form.object.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="grid gap-4 mb-4 sm:grid-cols-2">
    <div class="sm:col-span-2">
      <%= form.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
    </div>
    <div class="sm:col-span-2">
      <%= form.label :description, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.text_area :description, class: "block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", rows: "5" %>
    </div>
  </div>
  <div class="flex items-center space-x-4">
    <%= form.submit calendar_group.persisted? ? t("view.update_button") : t("view.create_button"), class: "text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" %>
  </div>
<% end %>
