<%# https://medium.com/@alexischvez/hotwire-supercharged-rails-forms-with-turbo-6de79bb9e374 %>
<div id="calendar_groups_table" class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <caption>
      <div class="text-center text-3xl"><%= t("view.calendar_groups") %></div>
    </caption>
    
    <thead class="text-ml text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-4">
          <div class="flex items-center">
            <%= t("view.name") %>
            <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"><path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/></svg></a>
          </div>
        </th>
        <th scope="col" class="px-6 py-4"><%= t("view.description") %></th>
        <th scope="col" class="px-2 py-4" colspan=1></th>
        <th scope="col" class="px-2 py-4 w-2"><%= link_to flowicon("plus-circle"), 
                  new_calendar_group_path, 
                  data: { turbo_frame: "modal-frame" },
                  class: "" %></th>
      </tr>
    </thead>
    
    <tbody id="calendar_groups">
      <%= render @calendar_groups %>
    </tbody>
  </table>
</div>

