<div id="Content">
<% content_for :title, "Log ind" %>
<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :email, "Email" %><br />
    <%= text_field_tag :email, params[:email], :size => 25 %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password, nil, :size => 25 %>
  </p>
  <p><%= label_tag :remember_me %>
     <%= check_box_tag :remember_me, 1, params[:remember_me] %>
  </p>
  <p><%= link_to "Glemt dit kodeord?", new_password_reset_path %></p>
  <p class="button"><%= submit_tag "Log ind" %> or <%= link_to "Registrer", sign_up_path   %></p>
<% end %>
</div>