<%= form_with(model: user_tag) do |form| %>
  <% if user_tag.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user_tag.errors.count, "error") %> prohibited this user_tag from being saved:</h2>

      <ul>
        <% user_tag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_info_id, style: "display: block" %>
    <%= form.text_field :user_info_id %>
  </div>

  <div>
    <%= form.label :tag_id, style: "display: block" %>
    <%= form.text_field :tag_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
