<p style="color: green"><%= notice %></p>

<h1>User tags</h1>

<div id="user_tags">
  <% @user_tags.each do |user_tag| %>
    <%= render user_tag %>
    <p>
      <%= link_to "Show this user tag", user_tag %>
    </p>
  <% end %>
</div>

<%= link_to "New user tag", new_user_tag_path %>
