<p style="color: green"><%= notice %></p>

<%= render @user_tag %>

<div>
  <%= link_to "Edit this user tag", edit_user_tag_path(@user_tag) %> |
  <%= link_to "Back to user tags", user_tags_path %>

  <%= button_to "Destroy this user tag", @user_tag, method: :delete %>
</div>
